.intro__list {
    max-width: 690px;
    margin: 0px;
    padding: 0px;
    padding-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    list-style-type: none;
    color: #FFFFFF;
}