.lead__title {
    display: grid;
    justify-self: center;

    margin: 0px;
    padding: 0px;
    padding-top: 56px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    max-width: 720px;
    text-align:  center;
    align-self: center;
}