.intro {
    display: grid;
    grid-template-columns: 984px;
    margin: 0px 148px 0px;
    
}

@media screen and (max-width: 1279px) {
    .intro {
        grid-template-columns: 928px;
        margin-left: 40px;
    }
} 

@media screen and (max-width: 1023px) {
    .intro {
        padding-top: 88px;
        max-width: 720px;
        margin: 0px 24px 0px;
        grid-template-columns: 768px;
       
    }
} 

@media screen and (max-width: 767px) {
    .intro {
        padding-top: 64px;
        
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        grid-template-columns: 320px;
    }
} 