.place__paragraph-item {
max-width: 484px;
margin: 0px;
padding: 0px;
padding-bottom: 26px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.63;

color: #FFFFFF;
}

.place__paragraph-item :nth-child(2n) {
    padding: 0px;
}