.intro__title {
    margin: 0px;
    padding: 0px;
    padding-top: 92px;
    max-width: 984px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}